# Environnement virtuel
.venv/
venv/
env/

# Python
__pycache__/
*.py[cod]
*.pyo

# Django
*.log
db.sqlite3
media/
staticfiles/

# Variables d'environnement
.env
.env.*

# IDE
.vscode/
.idea/

# Système
.DS_Store
Thumbs.db